<!DOCTYPE html>
<html lang="de" id="open-navigation">
<head>
    <meta charset="utf-8">
    <title>Prototype</title>
    <meta name="author" content="neofluxe GmbH">

    <!-- Preventing IE11 to request by default the /browserconfig.xml more than one time -->
    <meta name="msapplication-config">
    <!-- Disable touch highlighting in IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- Ensure edge compatibility in IE (HTTP header can be set in web server config) -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <!-- Force viewport width and pixel density. Plus, disable shrinking. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Disable Skype browser-plugin -->
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    
    <!-- google font-->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet"> 
    
</head>

<body>
    

<!-- header-->
<header class="c-header" role="banner">
    <!-- skip link-->
    <a class="c-skip-link" href="#main">Skip to content</a>
    
    <!-- header inner-->
    <div class="c-container c-container-no-padding c-header-inner">
        <div class="c-header-logo">
            <a href="/">
                <!--<img src="../../images/logo.svg" alt="" />-->
                Insert Logo
            </a>
        </div>

        <nav class="c-main-nav">
            <ul class="c-main-nav-list">
                <li class="current-menu-item"><a href="">Architektur</a></li>
                <li><a href="">Dienstleistung</a></li>
                <li><a href="">Verkauf</a></li>
                <li><a href="">Büro</a></li>
            </ul>
        </nav>
        
        <div class="c-header-lang wpml-ls-legacy-list-horizontal">
            <ul class="c-header-lang-list">
                <li class="wpml-ls-current-language"><a class="wpml-ls-link" href="">DE</a></li>
                <li><a href="">FR</a></li>
            </ul>
        </div>

        <!-- offcanvas trigger-->
        <a href="#open-navigation" class="c-offcanvas-trigger c-offcanvas-trigger-open">
            <span class="c-hide-visually">Menü öffnen</span>
        </a>
    </div>

    <!-- offcanvas nav-->
    <nav class="c-offcanvas-nav">
        <div class="c-offcanvas-inner">
            <div class="c-container c-container-no-padding c-header-inner">
                <!-- offcanvas trigger-->
                <a href="#" class="c-offcanvas-trigger c-offcanvas-trigger-close">
                    <span class="c-hide-visually">Menu schliessen</span>
                </a>
            </div>
            <div class="c-container c-offcanvas-content">
                <div class="c-row">
                    <div class="c-col-12">
                        <div class="c-offcanvas-lang wpml-ls-legacy-list-horizontal">
                            <ul class="c-header-lang-list">
                                <li class="wpml-ls-current-language"><a class="wpml-ls-link" href="">DE</a></li>
                                <li><a href="">FR</a></li>
                            </ul>
                        </div>
                        
                        <ul class="c-offcanvas-nav-list">
                            <li class="current-menu-item"><a href="">Architektur</a></li>
                            <li><a href="">Dienstleistung</a></li>
                            <li><a href="">Verkauf</a></li>
                            <li><a href="">Büro</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<!-- content-->
<main id="main" class="c-content" role="main">
   
    <!-- main title -->
    <div class="c-container c-main-title">
        <div class="c-row">
            <div class="c-col-8">
                <h1>H1 Titel Lorem ipsum dolor</h1>
                <p class="c-lead">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
                </p>
            </div>
        </div>
    </div>

    

    <!-- text only -->
    <div class="c-container c-text-only">
        <div class="c-row">
            <div class="c-col-8 c-text-block">
                <h2>Titel h2 lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, <a href="">Textlink</a> no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                <h3>Titel h3 lorem ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, <a href="">Textlink</a> no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                <ul>
                    <li>Beispiel #1 – Consectetur adipiscing elit tempor incididunt</li>
                    <li>Beispiel #2 – Lorem ipsum dolor sit amet consectetur adipiscing elit Excepteur sint occaecat cupidatat</li>
                    <li>Beispiel #3 – Aliquip ex ea commodo consequat officia deserunt mollit anim</li>
                    <li>Beispiel #4 – Duis aute irure dolor in reprehenderit in voluptate deserunt mollit anim</li>
                </ul>

                <p><a class="c-icon c-link-arrow" href="">mehr erfahren</a></p>
                <p><a class="c-icon c-link-download" href="">Link Download</a></p>
                <p><a class="c-icon c-link-extern" href="">Link Extern</a></p>
            </div>
        </div>
    </div>

    <!-- quote -->
    <div class="c-container c-quote">
        <div class="c-row">
            <div class="c-col-8 c-text-block">
                <blockquote>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                    <cite>Hans Muster, Funktion</cite>
                </blockquote>
            </div>
        </div>
    </div>
    

    <!-- img content wide-->
    <div class="c-container c-img-wide">
       <figure>
           <img src="../../images/tmp/img-placeholder.jpg" alt="" />
           <figcaption class="c-legend">Optionale Bildlegende</figcaption>
        </figure>
    </div>

    
    
    <!-- text-img -->
    <div class="c-container c-text-img">
        <div class="c-row">
            <div class="c-col-6">
               <figure>
                   <img src="../../images/tmp/img-placeholder.jpg" alt="" />
                   <figcaption class="c-legend">Optionale Bildlegende</figcaption>
                </figure>
            </div>
            <div class="c-col-6">
                <h2>Text/Img Komponente h2 lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. <a href="">Textlink</a> no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                <ul>
                    <li>Beispiel #1 – Consectetur adipiscing elit tempor incididunt</li>
                    <li>Beispiel #2 – Lorem ipsum dolor sit amet consectetur adipiscing elit Excepteur sint occaecat cupidatat</li>
                </ul>
            </div>
        </div>
    </div>
    
    <!-- section title -->
    <div class="c-container c-section-title">
        <div class="c-row">
            <div class="c-col-8">
                <h2>Section title</h2>
            </div>
        </div>
    </div>
    
    <!-- accordion-->
    <div class="c-container c-accordion">
        <div class="c-row">
            <div class="c-col-12">
                <!-- accordion-container-->
                <div class="c-accordion-container">
                    <input class="c-accordion-check" id="ac-1" name="accordion-1" type="checkbox" checked>
                    <label class="c-accordion-title c-h3" for="ac-1">Warum Athlezz?</label>
                    <div class="c-accordion-content">
                        <div class="c-accordion-inner c-text-block">
                            <p>Wir haben Hunderte von Sportler/innen-Websites angeschaut und analysiert und unser ernüchterndes Fazit lautet: wenn die Webauftritte der Profi-Sportler/innen nur halb so gut daherkommen würden, wie die Sportler/innen Medaillen einfahren, würde es Athlezz nicht benötigen.</p>
                            <p>Selbst gestandene und sehr erfolgreiche Sportler/innen sind in dieser Disziplin nach wie vor im Amateurbereich unterwegs. Ganz zu schweigen von denjenigen, welche noch nicht einmal über eine digitale Präsenz verfügen.</p>
                        </div>
                    </div>
                </div>
                <!-- accordion-container-->
                <div class="c-accordion-container">
                    <input class="c-accordion-check" id="ac-2" name="accordion-1" type="checkbox">
                    <label class="c-accordion-title c-h3" for="ac-2">Wer steht hinter Athlezz?</label>
                    <div class="c-accordion-content">
                        <div class="c-accordion-inner c-text-block">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat</p>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consetetur sadip</li>
                                <li>Lorem ipsum dolor sit amet, consetetur sadip</li>
                                <li>Lorem ipsum dolor sit amet, consetetur sadip</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- accordion-container-->
                <div class="c-accordion-container">
                    <input class="c-accordion-check" id="ac-3" name="accordion-1" type="checkbox">
                    <label class="c-accordion-title c-h3" for="ac-3">Für wen eignet sich Athlezz?</label>
                    <div class="c-accordion-content">
                        <div class="c-accordion-inner c-text-block">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- form-->
    <div class="c-container c-form-standard">
        <div role="form" class="wpcf7" id="wpcf7-f3889-p3890-o1" dir="ltr" lang="en-US">
            <div class="screen-reader-response">
                <p role="status" aria-live="polite" aria-atomic="true">Ein oder mehrere Felder weisen einen Fehler auf. Bitte überprüfe das und versuche es erneut.</p>
                <ul>
                    <li id="wpcf7-f22-p23-o1-ve-your-name">Dies ist ein Pflichtfeld.</li>
                    <li id="wpcf7-f22-p23-o1-ve-your-email">Dies ist ein Pflichtfeld.</li>
                    <li id="wpcf7-f22-p23-o1-ve-your-subject">Dies ist ein Pflichtfeld.</li>
                </ul>
            </div>
            <!-- classes init, invalid, sent for different color message styles-->
            <!-- classes submitting is for submit-spinner -->
            <form action="/contact-2/#wpcf7-f3889-p3890-o1" method="post" class="wpcf7-form submitting" novalidate="novalidate" data-status="init">
                <div style="display: none;">
                    <input type="hidden" name="_wpcf7" value="3889">
                    <input type="hidden" name="_wpcf7_version" value="5.4.1">
                    <input type="hidden" name="_wpcf7_locale" value="en_US">
                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f3889-p3890-o1">
                    <input type="hidden" name="_wpcf7_container_post" value="3890">
                    <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                </div>

                <!-- error -->
                <div class="wpcf7-response-output" aria-hidden="true">Ein oder mehrere Felder weisen einen Fehler auf. Bitte überprüfe das und versuche es erneut.</div>

                <h4 class="c-h3">Ihre Anfrage</h4>

                <div class="c-form-item">
                    <label><span class="c-form-label-text">Anfrage</span>
                        <span class="wpcf7-form-control-wrap your-message">
                            <textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea>
                        </span>
                    </label>
                </div>

                <h4 class="c-h3">Kontaktdaten</h4>

                <div class="c-form-item c-form-multiline">
                    <span class="wpcf7-form-control-wrap radio-710">
                        <span class="wpcf7-form-control wpcf7-radio wpcf7-not-valid" aria-describedby="wpcf7-f22-p23-o1-ve-radio-710">
                            <span class="wpcf7-list-item first">
                                <label>
                                    <input type="radio" name="radio-710" value="Option 1" checked="checked">
                                    <span class="wpcf7-list-item-label">Privatperson</span>
                                </label>
                            </span>
                            <span class="wpcf7-list-item">
                                <label>
                                    <input type="radio" name="radio-710" value="Option 2" checked="checked">
                                    <span class="wpcf7-list-item-label">Unternehmen</span>
                                </label>
                            </span>
                            <span class="wpcf7-list-item last">
                                <label>
                                    <input type="radio" name="radio-710" value="Option 3">
                                    <span class="wpcf7-list-item-label">Gemeinschaft</span>
                                </label>
                            </span>
                        </span>
                    </span>
                </div>



                <div class="c-form-item">
                    <span class="wpcf7-form-control-wrap checkbox-353">
                        <span class="wpcf7-form-control wpcf7-checkbox">
                            <span class="wpcf7-list-item first">
                                <label>
                                    <input type="checkbox" name="checkbox-353[]" value="Check 1">
                                    <span class="wpcf7-list-item-label">Check 1</span>
                                </label>
                            </span>
                            <span class="wpcf7-list-item last">
                                <label>
                                    <input type="checkbox" name="checkbox-353[]" value="Check 2">
                                    <span class="wpcf7-list-item-label">Check 2</span>
                                </label>
                            </span>
                        </span>
                    </span>
                </div>

                <div class="c-form-item">
                    <span class="wpcf7-form-control-wrap radio-710">
                        <span class="wpcf7-form-control wpcf7-radio wpcf7-not-valid" aria-describedby="wpcf7-f22-p23-o1-ve-radio-710">
                            <span class="wpcf7-list-item first">
                                <label>
                                    <input type="radio" name="radio-710" value="Option 1" checked="checked">
                                    <span class="wpcf7-list-item-label">Option 1</span>
                                </label>
                            </span>
                            <span class="wpcf7-list-item last">
                                <label>
                                    <input type="radio" name="radio-710" value="Option2">
                                    <span class="wpcf7-list-item-label">Option2</span>
                                </label>
                            </span>
                        </span>
                    </span>
                </div>

                <div class="c-form-item">
                    <label><span class="c-form-label-text">Label dropdown</span>
                        <span class="wpcf7-form-control-wrap menu-969">
                            <select name="menu-969" class="wpcf7-form-control wpcf7-select" aria-invalid="false">
                                <option value="">---</option>
                                <option value="Option 1">Option 1</option>
                                <option value="Option 2">Option 2</option>
                            </select>
                        </span>
                    </label>
                </div>

                <!-- formfield error-->
                <div class="c-form-item">
                    <label><span class="c-form-label-text">Your name</span>
                        <span class="wpcf7-form-control-wrap your-name">
                            <input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required wpcf7-not-valid" aria-required="true" aria-invalid="false">
                            <span class="wpcf7-not-valid-tip" aria-hidden="true">Dies ist ein Pflichtfeld.</span>
                        </span>
                    </label>
                </div>

                <div class="c-form-item">
                    <label><span class="c-form-label-text">Your email</span>
                        <span class="wpcf7-form-control-wrap your-email">
                            <input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false">
                        </span>
                    </label>
                </div>

                <div class="c-form-item">
                    <label><span class="c-form-label-text">Subject</span>
                        <span class="wpcf7-form-control-wrap your-subject">
                            <input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
                        </span>
                    </label>
                </div>

                <div class="c-form-item">
                    <label><span class="c-form-label-text">Field Type URL</span>
                        <span class="wpcf7-form-control-wrap your-subject">
                            <input type="url" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
                        </span>
                    </label>
                </div>
                <!--
                <div class="c-form-item">
                    <label><span class="c-form-label-text">Field Type Number</span>
                        <span class="wpcf7-form-control-wrap your-subject">
                            <input type="number" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
                        </span>
                    </label>
                </div>-->
                <div class="c-form-item">
                    <label><span class="c-form-label-text">Field Type Date</span>
                        <span class="wpcf7-form-control-wrap your-subject">
                            <input type="date" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false">
                        </span>
                    </label>
                </div>

                <div class="c-form-item">
                    <label><span class="c-form-label-text">Field Type File</span>
                        <span class="wpcf7-form-control-wrap" data-name="file-424">
                             <input size="40" class="wpcf7-form-control wpcf7-file wpcf7-validates-as-required" accept="audio/*,video/*,image/*" aria-required="true" aria-invalid="false" type="file" name="file-424">
                        </span>
                    </label>
                </div>

                <div class="c-form-item c-text-small">
                    *Pflichtfelder
                </div>

                <div class="c-form-item">
                    <input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit">
                    <span class="wpcf7-spinner"></span>
                </div>

                <div class="wpcf7-response-output" aria-hidden="true">Ein oder mehrere Felder weisen einen Fehler auf. Bitte überprüfe das und versuche es erneut.</div>

            </form>
        </div>
    </div>

</main>

<!-- footer-->
<footer class="c-footer" role="contentinfo">
    <!-- footer main-->
    <div class="c-container c-container-no-padding c-footer-main">
        Footer Main
    </div>

    <div class="c-container c-container-no-padding c-footer-disclaimer">
        <div class="c-row c-row-reverse">
            <div class="c-col-6 c-text-right">
                <ul class="c-footer-disclaimer-list">
                    <li><a href="/">Impressum</a></li>
                    <li><a href="/">Disclaimer</a></li>
                </ul>
            </div>
            <div class="c-col-6">
                &copy; neofluxe
            </div>

        </div>
    </div>
</footer>

<!-- cookie notice-->
<div class="c-cookie-notice c-text-block c-text-small" id="cookie-notice">
    <p>Wir setzen verschiedene Cookies und Analysetools ein, um die Nutzerfreundlichkeit der Webseite zu verbessern. Mehr Informationen dazu finden Sie in unserer <a href="">«Datenschutzerklärung»</a>.</p>
    <ul class="c-cookie-notice-list">
        <li><button class="c-btn c-btn-small" id="accept-min-cookie-notice">Nur notwendige Cookies akzeptieren</button></li>
        <li><button class="c-btn c-btn-small" id="accept-cookie-notice">Alle Cookies akzeptieren</button></li>
    </ul>
</div>
</body>
</html>
