/* Variables, Naming may vary from project to project */

/* ==========================================================================
   Fonts (see '_fonts.scss' for more information on license)
   ========================================================================== */

/* @import must be at top of file, otherwise CSS will not work */
/* @import url('//hello.myfonts.net/count/426563'); */

$font-stack-default: 'Roboto', 'Arial', 'Helvetica', sans-serif;

/* ==========================================================================
   Fallbacks sass Variablen
   ========================================================================== */

/* text */
$text-color: #1D1D1B; /* dark grey */
$text-color-light: #fff;
$text-color-link: #1D1D1B; /* dark grey */

/* background */
$bg-content: #fff;
$bg-dark: #1D1D1B; /* dark grey */
$bg-light: #f9f9f9; /* light grey */
$color-highlight: #2e1aa9; /* blue */

/* line-colors */
$border-basic: #ebebeb;

/* spacing */
$spacing-l: 6rem;
$spacing-m: 3rem;
$spacing-s: 1.5rem;
$spacing-xs: 0.75rem;

/* grid */
$grid-container: 20px;
$grid-row: -10px;
$grid-col: 10px;


/* form */
$border-form: #A8A8A8;
$border-form-focus: #000;
$form-disabled: #ccc;
$form-error: #dd0000;
$form-ok: #00828C;
$form-initial: #1D1D1B;


/* ==========================================================================
   Custom Properties
   ========================================================================== */


:root {
    /* fonts */
    --font-stack-default: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    
    /* text  */
    --text-color: #000; /* black */
    --text-color-light: #fff;
    --text-color-link: #000;
    
    /* font-sizes */
    --font-size-root: 18px;
    --font-size-h1: 4.44rem; /* 80px */
    --font-size-h2: 2.22rem; /* 40px */
    --font-size-h3: 1.33rem;
    --font-size-lead: 1.33rem;
    --font-size-quote: 2.22rem;
    --font-size-body: 1rem;
    --font-size-body-s: 0.77rem;
    
    /* colors / background */
    --bg-content: #fff;
    --bg-dark: #1D1D1B; /* dark grey */
    --bg-light: #f9f9f9; /* light grey */
    --color-highlight: #2e1aa9; /* blue */
    
    /* lines */
    --border-basic: #ebebeb;
    
    /* spacing between components based on rem */
    --spacing-l: 6rem;
    --spacing-m: 3rem; 
    --spacing-s: 1.5rem;
    --spacing-xs: 0.75rem;    
     
    /* grid */
    --grid-container: 20px;
    --grid-row: -10px;
    --grid-col: 10px;
    
    /* form */
    --border-form: #A8A8A8; 
    --border-form-focus: #000;
    --form-disabled: #ccc;
    --form-error: #dd0000;
    --form-ok: #00828C;
    --form-initial: #1D1D1B;
}

/* ==========================================================================
   Exeptions for different backgrounds
   ========================================================================== */

.c-text-light {
    --text-color: #fff;
    --text-color-link: #fff;
    --color-highlight: #fff;
}

/* ==========================================================================
   Responsive Custom Properties
   ========================================================================== */

@media only screen and (min-width:1200px) {
    :root {
        --grid-container: 48px;
        --grid-row: -24px;
        --grid-col: 24px;
    }
}

@media only screen and (min-width:1600px) {
    :root {
        --grid-container: 64px;
        --grid-row: -32px;
        --grid-col: 32px;
    }
}


@media only screen and (max-width:980px) {
    :root {
        --spacing-l: 3rem;
        --spacing-m: 1.5rem; 
    }
}
