
/* ==========================================================================
   Default color definitions defined as variables
   ========================================================================== */

/* -------------------------------------------------------------------------
 Background Colors
 --------------------------------------------------------------------------- */

$brightBackgroundColor: '#ffffff';
$darkBackgroundColor:   '#111111';

/* -------------------------------------------------------------------------
  Text Colors
  --------------------------------------------------------------------------- */

$brightTextColor:   '#ffffff';
$darkTextColor:     '#111111';
